@font-face {
    font-family: "Opera-Lyrics-Smooth";
    src: url(/fontes/OperaLyricsSmooth-OOJo.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Regatto";
    src: url(/fontes/RegattoBold-lgVM0.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body{
    height: 100%;
    margin: 0px;
}

#conteudo{
    background-image: url(../images/orgaoFoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-color: rgba(63, 58, 0, 0.644);
    background-blend-mode: soft-light;
    background-blend-mode: darken;
}

.outrasPaginas{
    height: 3.5rem;
    background-color: rgba(63, 25, 0, 0.781);
    display: flex;
    justify-content: end;
    align-items: center;
}

.itemOutrasPaginas{
    margin-right: 2rem;
    color: rgb(255, 246, 118);
    font-family: "Regatto";
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 0 black, 2px 0 black, 2px 0 black, 2px 0 black;
}

.botaoPesquisa{
    margin-right: 2rem;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0px;
    margin-top: 5px;
}

.bioInfo{
    display: flex;
    margin-top: 5rem;
}

#bioFoto{
    margin-top: 0.5rem;
    margin-left: 2rem;
    border-radius: 0.4rem;
}

.langIndicador{
    padding-left: 1rem;
    margin-left: 1rem;
}

#bioTextoFlex{
    display: flex;
    flex-direction: column;
}

.bioTexto{
    color: rgb(255, 246, 118);
    background-color: rgb(63, 25, 0);
    font-family: "Opera-Lyrics-Smooth";
    padding: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 5rem;
    border-radius: 0.4rem;
}