@font-face {
    font-family: "Opera-Lyrics-Smooth";
    src: url(/fontes/OperaLyricsSmooth-OOJo.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Regatto";
    src: url(/fontes/RegattoBold-lgVM0.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body{
    height: 100%;
    margin: 0;
}

#conteudo{
    background-image: url(../images/orgaoFoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-color: rgba(63, 58, 0, 0.644);
    background-blend-mode: soft-light;
    background-blend-mode: darken;
}

.outrasPaginas{
    height: 3.5rem;
    background-color: rgba(63, 25, 0, 0.781);
    display: flex;
    justify-content: end;
    align-items: center;
}

.itemOutrasPaginas{
    margin-right: 2rem;
    color: rgb(255, 246, 118);
    font-family: "Regatto";
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 0 black, 2px 0 black, 2px 0 black, 2px 0 black;
}

.botaoPesquisa{
    margin-right: 2rem;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0px;
    margin-top: 5px;
}

#nome{
    font-size: 2.3rem;
    text-align: center;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
    color: rgb(255, 246, 118);
    background-size: all;
    border-radius: 5rem;
    font-family: "Opera-Lyrics-Smooth";
    text-shadow: 0 1px black, 0 1px black, 0 1px black, 0 1px black;
}

#linksContato{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 30rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color: rgba(63, 25, 0, 0.781);
}

#botoesContato{
    margin-right: auto;
    margin-left: auto;
    border-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.umBotao{
    background: transparent;
    border-width: 0;
}

#fb{
    margin-left: 2rem;
    margin-right: 2rem;
}

.imagemBotao{
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
}

#emailContainer{
    text-align: center;
    margin-top: 5rem;
}

#email{
    background-color: rgba(255, 246, 118, 0.637);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5rem;
    color: rgb(52, 52, 158);
    font-size: 1.5rem;
    font-weight:bold;
    font-family:sans-serif;
}