html, body{
    height: 100%;
    margin: 0px;
}

#conteudo{
    background-image: url(../images/orgaoFoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -2.5rem;
    background-attachment: fixed;
    background-color: rgba(63, 58, 0, 0.644);
    background-blend-mode: soft-light;
    background-blend-mode: darken;
}

.outrasPaginas{
    height: 3.5rem;
    background-color: rgb(63, 25, 0);
    display: flex;
    justify-content: end;
    align-items: center;
} 

.itemOutrasPaginas{
    margin-right: 2rem;
    color: rgb(255, 246, 118);
    font-family: "Regatto";
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 0 black, 2px 0 black, 2px 0 black, 2px 0 black;
}

.botaoPesquisa{
    margin-right: 2rem;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0px;
    margin-top: 5px;
}

.listaObras{
    
    margin-top: 15rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}
.heading{
    color: rgb(255, 246, 118);
    background-color: rgba(63, 25, 0, 0.781);
    font-family: "Opera-Lyrics-Smooth";
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin-right: 15rem;
    margin-left: 15rem;
    text-align: center;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}
.obrasBloco{
    background-color: rgba(63, 25, 0, 0.781);
    padding-top: 1rem;
}

.umaObra{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
    margin-bottom: 7.5rem;
    padding-bottom: 5rem;
}
.tituloObra{
    color: white;
    font-family: "Opera-Lyrics-Smooth";
    font-size: 2.5rem;
    font-style: italic;
}

.comentarioObra{
    color: rgb(255, 246, 118);
    font-family: "Opera-Lyrics-Smooth";
}