.umaObra{
    margin-left: 1rem;
    margin-top: 2.5rem;
    margin-right: 1rem;
    margin-bottom: 2.5rem;
    flex-basis: 25%;
}

.umaObra_titulo{
    color: white;
    line-break: normal;
    font-family: "Opera-Lyrics-Smooth";
    font-size: 1.5rem;
    font-style: italic;
}

.umaObra_data{
    color: white;
    font-size: 1rem;
    font-family: "Regatto-Bold";
    margin-left: 0.25rem;
}

.umaObra_instrumento{
    color: rgb(255, 246, 118);
    font-family: "Opera-Lyrics-Smooth";
    font-size: 1rem;
    font-weight: lighter;
}