.umaObra{
    margin-left: 1rem;
    margin-top: 2.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    flex-basis: 25%;
    background-color: rgb(63, 25, 0);
    padding: 1rem;
    border-radius: 0.4rem;
}

.umaObra_titulo{
    color: rgb(255, 246, 118);
    line-break: normal;
    font-family: "Opera-Lyrics-Smooth";
    font-size: 1.5rem;
    font-style: italic;
    text-shadow: 1px 0 black, 1px 0 black, 1px 0 black, 1px 0 black;
}

.umaObra_data{
    color: white;
    font-size: 1rem;
    font-family: "Regatto-Bold";
    margin-left: 0.25rem;
}

.umaObra_instrumento{
    color: white;
    font-family: "Opera-Lyrics-Smooth";
    font-size: 1rem;
    font-weight: lighter;
    text-shadow: 1px 0 black, 1px 0 black, 1px 0 black, 1px 0 black;
}